@use "../../settings";
@use "variables" as var;

//justify content
[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$left}"]{
    justify-content: flex-start;
}

[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$right}"]{
    justify-content: flex-end;
}

[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$center}"]{
    justify-content: center;
}

[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$between}"]{
    justify-content: space-between;
}

[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$around}"]{
    justify-content: space-around;
}

[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$evenly}"]{
    justify-content: space-evenly;
}

//align content
[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$top}"]{
    align-items: flex-start;
}

[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$bottom}"]{
    align-items: flex-end;
}

[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-element}-#{settings.$middle}"]{
    align-items:center;
}

//Align self
[#{settings.$pref}-#{var.$flex-element}~="#{settings.$top}"]{
    align-self: flex-start;
}

[#{settings.$pref}-#{var.$flex-element}~="#{settings.$middle}"]{
    align-self: center;
}

[#{settings.$pref}-#{var.$flex-element}~="#{settings.$bottom}"]{
    align-self: flex-end;
}