@use "../../settings";
@use "variables" as var;

// Flex container
[#{settings.$pref}-#{var.$flex-suffix}]{
    display: flex;
    flex-wrap: wrap;
}

// Flex direction
[#{settings.$pref}-#{var.$flex-suffix}~="#{var.$flex-dir}"]{
    flex-direction: column;
}
