@use "sass:math";

@function convert_to_rem($size){
    $value : math.div($size, 1px) * 0.0625rem;
    @return $value;
}

@function convert_to_em($size){
    $value : math.div($size, 1px) * 0.0625em;
    @return $value;
}