@use "mixin/mixin";
@use "function/function" as func;
@use "variables" as var;
@use "../../settings";

//--- Col generator
//_small
@media (min-width : func.convert_to_rem(settings.$small_breakpoint)) {

    [#{settings.$pref}-#{var.$grid-suffix}]{
        grid-template-columns: repeat(func.grid_dispo(small), 1fr);
    }

    @include mixin.col(func.grid_dispo(small), var.$dir-x, settings.$small);
}


//_medium
@media (min-width : func.convert_to_rem(settings.$medium_breakpoint)) {
    
    [#{settings.$pref}-#{var.$grid-suffix}]{
        grid-template-columns: repeat(func.grid_dispo(medium), 1fr);
    }

    @include mixin.col(func.grid_dispo(medium), var.$dir-x, settings.$medium);

}

//_large
@media (min-width : func.convert_to_rem(settings.$large_breakpoint)) {
    
    [#{settings.$pref}-#{var.$grid-suffix}]{
        grid-template-columns: repeat(func.grid_dispo(large), 1fr);
    }

    @include mixin.col(func.grid_dispo(large), var.$dir-x);

    
}

//--- Row generator
@include mixin.row(func.grid_dispo(large), var.$dir-y);
