//Suffixe
$grid-suffix        : 'grid';

// Grid disposition
$grid_layout : (
    'small'         : 4,
    'medium'        : 6,
    'large'         : 12,
);

//Orientation
$dir-x              : 'col';
$dir-y              : 'row';

//Grid child
$grid-element       : 'item';
$grid-cell          : 'cell';

//gap
$grid-max-gap       : 32;

//Offset
$margin-x           : 'mx';
$margin-y           : 'my';
$margin             : 'm'
