@use "sass:list";
@use "../../../settings";
@use "../variables" as var;

$begin: 1;

@mixin col($cell_number, $cell_type, $prop:"") {
    
    @if $prop == "" {
        @while $begin <= ($cell_number) {
            $end: $begin;
    
            [#{settings.$pref}-#{var.$grid-cell}^="#{$cell_type}-#{$begin}"]{
                grid-column: span $begin;
            }

            @while $end <= ($cell_number + 1) {
                @if $begin == $end {
                    
                } @else {
                    [#{settings.$pref}-#{var.$grid-cell}^="#{$cell_type}-#{$begin}@#{$end}"] {
                        grid-column: list.slash($begin, $end);
                    }
                }
            
                $end: $end + 1;
            }
    
            $begin: $begin + 1;
        }
    }
    
    @else{
        @while $begin <= ($cell_number) {
            $end: $begin;
    
            [#{settings.$pref}-#{var.$grid-cell}~="#{$prop}:#{$cell_type}-#{$begin}"]{
                grid-column: span $begin;
            }

            @while $end <= ($cell_number + 1) {
                @if $begin == $end {
                    
                } @else {
                    [#{settings.$pref}-#{var.$grid-cell}~="#{$prop}:#{$cell_type}-#{$begin}@#{$end}"] {
                        grid-column: list.slash($begin, $end);
                    }
                }
            
                $end: $end + 1;
            }
    
            $begin: $begin + 1;
        }
    }
}


@mixin row($cell_number, $cell_type) {
    
    @while $begin <= ($cell_number) {
        $end: $begin;

        @while $end <= ($cell_number + 1) {
            @if $begin == $end {
                
            } @else {
                [#{settings.$pref}-#{var.$grid-cell}~="#{$cell_type}-#{$begin}@#{$end}"] {
                    grid-row: list.slash($begin, $end);
                }
            }
        
            $end: $end + 1;
        }

        $begin: $begin + 1;
    }
}