@use "../../../settings" ;
@use "../variables" as var;

@mixin cell-margin-generator($axe, $size){
    $i : 8;
    @while $i <= $size{
        @if $axe == var.$margin-x{
            [#{settings.$pref}-#{var.$grid-suffix}~="#{var.$margin-x}-#{$i}"]{
                column-gap:($i * 1px);
            }
        }
        @else if $axe == var.$margin-y{
            [#{settings.$pref}-#{var.$grid-suffix}~="#{var.$margin-y}-#{$i}"]{
                row-gap:($i * 1px);
            }
        }
        @else{
            [#{settings.$pref}-#{var.$grid-suffix}~="#{var.$margin}-#{$i}"]{
                gap:($i * 1px);
            }
        }
        $i : $i + 8;
    }
}

