@use "../../../settings";
@use "../variables" as var;

@mixin order($value){

    @for $i from 1 to $value+1 {
        [#{settings.$pref}-#{var.$grid-cell}~="order-#{$i}"]{
            z-index: #{$i};
        }
    }
}