@while $end <= ($cell_number + 1) {
            @if $begin == $end {
                @if $cell_type == "row" {
                    [#{settings.$attribut}~="#{settings.$grid}"]{
                        [#{settings.$attribut}~="#{$cell_type}-#{$begin}"]{
                            grid-row: span $begin;
                        }
                    }
                }@else{
                    [#{settings.$attribut}~="#{settings.$grid}"]{
                        [#{settings.$attribut}~="#{$cell_type}-#{$begin}"]{
                            grid-column: span $begin;
                        }
                    }
                }
                
            } @else {
                @if $cell_type == "row"{
                    [#{settings.$attribut}~="#{settings.$grid}"] {
                        [#{settings.$attribut}~="#{$cell_type}-#{$begin}@#{$end}"] {
                            grid-row: list.slash($begin, $end);
                        }
                    }
                }
                @else{
                    [#{settings.$attribut}~="#{settings.$grid}"]{
                        [#{settings.$attribut}~="#{$cell_type}-#{$begin}@#{$end}"] {
                            grid-column: list.slash($begin, $end);
                        }
                    } 
                }
            }

            $end: $end + 1;
        }