// Scheme attribut
$pref               : 'sc';


// Screen type
$small              : 'sm';
$medium             : 'md';

// Breakpoint
$small_breakpoint   : 320px;
$medium_breakpoint  : 481px;
$large_breakpoint   : 769px;

//alignment
$between            : 'extend';
$around             : 'spaced';
$evenly             : 'justify';
$left               : 'left';
$right              : 'right';
$center             : 'center';
$middle             : 'middle';
$top                : 'top';
$bottom             : 'bottom';
